public/image-assets/*.avif filter=lfs diff=lfs merge=lfs -text
public/image-assets/*.png filter=lfs diff=lfs merge=lfs -text
public/image-assets/*.webp filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
