@use "variables";

.images-title {
  @apply text-4xl font-bold mb-1 text-text;
}

.images-description {
  @apply opacity-40;
}

.images-container {
  @apply flex flex-col gap-4;
}

.images-grid {
  @apply grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4;

  content-visibility: auto;
  contain-intrinsic-size: auto 800px;
}

.image-container {
  @apply relative flex justify-center items-center overflow-hidden;

  transition: transform 0.3s ease-in-out;

  @apply w-full;

  aspect-ratio: 3 / 2;

  img {
    @apply w-full h-full object-cover rounded-lg;
  }

  /* Default state for all image containers */
  opacity: 1;
  z-index: 1;

  @include variables.squish-pressable;
}
