.priv-h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;

  @apply text-4xl font-bold mb-4 text-text;
}

.priv-p {
  margin-bottom: 16px;

  @apply text-text;
}

.priv-link {
  @apply text-accent no-underline hover:underline;
}
