@use "variables";

.waveform-h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;

  @apply text-4xl font-bold mb-4 text-text;
}

.waveform-p {
  margin-bottom: 16px;

  @apply text-text;
}

.waveform-link-2 {
  @apply text-accent no-underline hover:underline;
}

.wf-canvas {
  --wf-stroke: #{variables.$accent};

  width: 100%;
  height: 700px;
  border: 1px solid variables.$neutral;
  border-radius: 10px;
}

.wf-file-name {
  display: none;
  margin-top: 10px;
  font-weight: bold;
  color: variables.$accent;
}

.wf-file-name.is-visible {
  display: block;
}

.wf-controls {
  margin-bottom: 10px;
  color: variables.$text;
}

.wf-controls label {
  @apply text-mamba;
}

.wf-controls input,
.wf-controls button {
  background-color: transparent;
  color: variables.$accent;
  border: 1px solid variables.$neutral;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.wf-controls input[type="number"] {
  color: variables.$text;
}

.wf-controls input[type="file"] {
  color: transparent;
}

.wf-controls input[type="file"]::file-selector-button {
  background-color: transparent;
  color: variables.$accent;
  border: 1px solid variables.$neutral;
  padding: 5px;
  border-radius: 10px;
}
