---
import Analytics from "../components/analytics.astro";
import { getImages } from '../getImages.js';
import { getImageCount } from '../getImageCount.js';
import Tags from "../components/tags.astro";
import PictureSect from "../components/picturesect.astro";
import Layout from "../layouts/Layout.astro";

const totalImages = getImageCount();
const imagesPerSection = Math.floor(totalImages / 4);
const sections = Array.from({length: 4}, (_, i) => i * imagesPerSection);
---
<Tags />
<Layout>
  {sections.map((start, index) => (
    <>
      <PictureSect start={start} end={start + imagesPerSection} key={index} />
      {index !== sections.length - 1 && <div style="padding-bottom: 20px;"></div>}
    </>
  ))}
</Layout>
<Analytics />