---
import Analytics from "../components/analytics.astro";
import { getImages } from '../getImages.js';
import Tags from "../components/tags.astro";
import Layout from "../layouts/Layout.astro";

const images = getImages();
---
<Tags />
<style>
.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,#110819, #000);
  z-index: -1;
}
</style>
<div class="background-animation">
  <Layout>

    <h1 class="text-4xl font-bold mb-10">Latest Pictures:</h1>

    <article class="flex flex-col gap-4">
      <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {images.map((image) => (
          <div class="border border-neutral rounded-lg shadow-md hover:scale-105 transition-transform duration-300">
            <picture>
              <source srcset={`/image-assets/${image}.avif`} type="image/avif">
              <source srcset={`/image-assets/${image}.webp`} type="image/webp">
              <img src={`/image-assets/${image}.webp`} alt="Image" class="rounded-lg" />
            </picture>
          </div>
        ))}
      </section>
    </article>
  </Layout>
  </Layout>
</div>
<Analytics />