---
import { Image } from 'astro:assets';
import { getImages } from '../scripts/getImages';

let { start, end } = Astro.props;
const images = getImages();
---

<article class="flex flex-col gap-4">
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {images.slice(start, end).map((image) => (
            <div class="image-container">
                <picture>
                    <source srcset={`/image-assets/${image}.avif`} type="image/avif" />
                    <source srcset={`/image-assets/${image}.webp`} type="image/webp" />
                    <Image
                        src={`/image-assets/${image}.png`}
                        alt="Some of my best pictures"
                        width={500} 
                        height={333}
                        loading="eager"
                    />
                </picture>
            </div>
        ))}
    </section>
</article>

<style>
.image-container {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
    width: 100%; 
    aspect-ratio: 3 / 2;
}

.image-container img {
    width: 100%; 
    height: 100%; 
    display: block; 
    object-fit: cover;
}

.image-container:hover {
    transform: scale(1.05);
}
</style>