---
import { Config } from "../config";

interface Props {
  title?: string;
  description?: string;
  og_title?: string;
  og_description?: string;
  og_type?: string;
  og_image?: string;
}

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html class="bg-base-100 text-base-content overflow-y-scroll" lang="en">
    <body>
        <div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
            <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
                <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">{Config.me.name}</a>
                <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
                    <ul>
                        <li>
                            <a class={currentPath === "/" ? "text-purple-500" : ""} href="/">Home</a>
                        </li>
                        <li>
                            <a class={currentPath.startsWith("/posts") ? "text-purple-500" : ""} href="/posts">Posts</a>
                        </li>
                        <li>
                            <a class={currentPath.startsWith("/pictures") ? "text-purple-500" : ""} href="/pictures">Pictures</a>
                        </li>
                        <li>
                            <a class={currentPath.startsWith("/contact") ? "text-purple-500" : ""} href="/contact">Contact</a>
                        </li>
                        <li>
                            <a class={currentPath.startsWith("/licensing") ? "text-purple-500" : ""} href="/licensing">Licensing</a>
                        </li>
                        <li>
                            <a class={currentPath.startsWith("/extras") ? "text-purple-500" : ""} href="/extras">Extras</a>
                        </li>
                        <li>
                            <a class={currentPath.startsWith("/privacy") ? "text-purple-500" : ""} href="/privacy">Privacy</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="flex-grow">
                <slot />
            </div>
        </div>
        <style is:global>
            .custom-breadcrumbs {
                max-width: 100%;
                overflow-x: auto;
                padding-top: 0.5%;
            }

            .custom-breadcrumbs > ul {
                display: flex;
                align-items: center;
                white-space: nowrap;
                min-height: min-content;
            }

            .custom-breadcrumbs > ul > li {
                display: flex;
                align-items: center;
            }

            .custom-breadcrumbs > ul > li > a {
                display: flex;
                cursor: pointer;
                align-items: center;
            }

            @media (hover: hover) {
                .custom-breadcrumbs > ul > li > a:hover {
                    text-decoration-line: underline;
                }
            }

            .custom-breadcrumbs > ul > li > a:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
            }

            .custom-breadcrumbs > ul > li > a:focus-visible {
                outline: 2px solid currentColor;
                outline-offset: 2px;
            }

            .custom-breadcrumbs > ul > li + *:before {
                content: "/";
                margin-left: 0.5rem /* 8px */;
                margin-right: 0.75rem /* 12px */;
                display: block;
                opacity: 0.4;
                background-color: transparent;
            }

            [dir="rtl"] .custom-breadcrumbs > ul > li + *:before {
                --tw-rotate: -180deg;
            }
            
            footer {
                font-family: monospace;
            }
        </style>
    </body>
    <footer class="bottom-0 text-left p-4 text-white text-sm ml-6" style="opacity:0.4; font-style: italic">
        // Built with Astro, Tailwind CSS, and TypeScript by George Baskerville.
        Based on
        <a href="https://github.com/pastc/portfolio" target="_blank" rel="noopener noreferrer" class="hover:underline">a template</a>
        by 
        <a href="https://tahir.sh" target="_blank" rel="noopener noreferrer" class="hover:underline">Tahir Murata</a>.
        <a href="https://github.com/georgebaskervil/Personal-Website" target="_blank" rel="noopener noreferrer" class="hover:underline">Source code available under MIT licence on GitHub</a>.
    </footer>
</html>
